
/*Navbar decore*/
.navbar-inverse {
    background-color: limegreen;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
        color: black;
}

.navbar-inverse a {
        color: black;
}

.navbar-inverse .navbar-nav > li > a {
        color: black;
        font-weight: bold;
}
.navbar-inverse .btn-link {
        color: black;
}

/*jumbotron decore*/
.jumbotron {
    color: black;
    background-color: limegreen;
}

