@{
    ViewData["Title"] = "Home Page";
}

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Welcome to Lost Gamer</h1>
                <p>You Lost? Here's a Guide</p>
            </div>
        </div>

